@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --main-color: #b4ffd8;
  --main-dark-color: #474747;
  --bg-color: #f6fffb;
  --optional-gray-color: #797979;
}

body {
  font-family: "Raleway", sans-serif;
}
